 body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 2px;
      background-color:white(253, 249, 249, 0.915);
      color: black;
      line-height: 20px;
     margin: 60px;
     font-size: 30;
     background-image: url(img.jpg);
     background-repeat: no-repeat;
     background-size: cover; 
    }
    header {
      
      color: rgb(216, 90, 90);
      text-align: center;
      line-height: 20px;
    }
    .photo {
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
    }